<html>
  <head>
    <title>キルミーベイベー画像ジェネレーター</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="text-center">
        <img src="/キルミーベイベー画像ジェネレーター" alt="キルミーベイベー画像ジェネレーター">
      </div>

      <div class="text-center">
        使い方：http://kill-me-baby.tolarian-academy.net/ここに生成する文字列
      </div>

      <div>
        <ul>
          <li>TODO</li>
          <li>フォントサイズの変更</li>
          <li>背景色</li>
        </ul>
      </div>

      <div>
        連絡先:<a href="https://twitter.com/GhostBrain">Twitter</a> or <a href="http://tolarian-academy.net">blog</a>
      </div>
    </div>
  </body>
</html>
